.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    height: 410px
}


.content { padding: 50px; }

#header {
  height: 60px;
  min-width: 100%;
  
  background-color: black;
  color: white;
}