<div class="panel panel-primary" ng-controller='BookAddCtrl'>
    <div class="panel-heading">
        <div class="panel-title">ADD BOOK</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" name="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            书名:
                        </label>
                        <div class="col-md-10">
                            <input type="text" name="name" class="form-control" placeholder="6-40 characters" ng-model="bookInfo.name" ng-minlength="6" ng-maxlength="40" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Category:
                        </label>
                        <div class="col-md-10">

                            <select class="form-control" ng-init="bookInfo.type = 1"  ng-model="bookInfo.type" >
                                <option value="1">COMPUTER</option> 
                                <option value="2">FINANCE</option>
                                <option value="3">FICTION</option>
                                <option value="4">ART</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Publish Date:
                        </label>
                        <div class="col-md-10">
                            <input type="date" class="form-control" placeholder="YYYY-mm-dd" ng-model="bookInfo.pubTime" required name="pubDate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Author:
                        </label>
                        <div class="col-md-10">
                            <input type="text" name="author" class="form-control" placeholder="6-40 characters" ng-minlength="6" ng-maxlength="40" required ng-model="bookInfo.author" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            ebook version ? 
                        </label>
                        <div class="col-md-10">
                            <input type="checkbox">
                        </div>
                    </div>

                    <div class="form-group" ng-hide="form.$valid || form.$pristine">
                        <span class="col-md-offset-2 col-md-10 text-warning" ng-hide="form.name.$valid || form.name.$pristine"> 
                            Please check the book name again
                        </span>
                        <span class="col-md-offset-2 col-md-10 text-warning" ng-hide="form.author.$valid || form.author.$pristine"> 
                            Please check autuor's name again
                        </span>
                        <span class="col-md-offset-2 col-md-10 text-warning" ng-hide="form.pubDate.$valid"> 
                            Please check publish date again
                        </span>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a ng-click='addBook(bookInfo)' class="btn btn-success" ng-disabled="form.$invalid">Save</a>
                            <a ui-sref="booklist({bookType:0})" class="btn btn-primary">Return</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
