<div  >
	<a ui-sref="bookdetail({bookId:row.getProperty(col.field)})" id="{{row.getProperty(col.field)}}" class="btn btn-primary btn-xs">detail</a>
	<a ng-controller="BookDeleteCtrl" ng-click='deleteBook(row.getProperty(col.field))' confirm class="btn btn-danger btn-xs">delete</a>

</div>