<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a href="javascript:void(0);" class="list-group-item active">
                Book Category  
            </a>
            <a ui-sref="booklist({bookType:0})" class="list-group-item">ALL</a>
            <a ui-sref="booklist({bookType:1})" class="list-group-item">COMPUTER</a>
            <a ui-sref="booklist({bookType:2})" class="list-group-item">FINANCE</a>
            <a ui-sref="booklist({bookType:3})" class="list-group-item">FICTION</a>
            <a ui-sref="booklist({bookType:4})" class="list-group-item">ART</a>
        </div>
    </div>
</div>
