<div class="well" ng-controller="BookDetailCtrl">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <img src="../image/book.jpg" alt="{{bookInfo.name}}" width="100%">
                </div>
               <!--  {{bookInfo}} -->
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <a ui-sref="booklist({bookType:0})" class="btn btn-primary">RETURN</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" name="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Name:
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">
                                    <a href="http://www.hoyee.com" target="_blank">{{bookInfo.name}}</a>
                                </p>
                            </div>
                        </div>
<!--                         <div class="form-group">
                            <label class="col-md-2 control-label">
                                类型:
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">{{bookInfo.type}}</p>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Publish Date:
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">{{bookInfo.pubTime}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Author:
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">{{bookInfo.author}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Price:
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static">${{bookInfo.price}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Ebook version:
                            </label>
                            <div class="col-md-10">
                                <p class="form-control-static"></p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
