<div ng-controller="BookListCtrl">
<!--     <div>
        <div ng-click='listBook()'>List Book</div>
        <div ng-click='addBook()'>Add Book</div>
        <div ng-click='deleteBook(4)'>Delete Book</div>        
    </div> -->


    <div class="row">
        <div class="col-md-12">
        	<a ui-sref="addbook" class="btn btn-primary">ADD BOOK</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="gridStyle" ng-grid="gridOptions">
                </div>
            </div>
        </div>
    </div>
</div>
