<div class="container">
	<div class="row">
	    <div class="col-md-3">
	        <div ui-view="booktype">
	        	Book Types is loading...
	        </div>
	    </div>
	    <div class="col-md-9">
	        <div ui-view="bookgrid">
	        	Book list is loading...
	        </div>
	    </div>
	</div>
</div>