<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">BOOK LIBRARY MANAGEMENT</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            User：
                        </label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" placeholder="Please click Login button" ng-model="userInfo.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Password：
                        </label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" placeholder="Please click Login button" ng-model="userInfo.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a ui-sref="booklist({bookType:0})" class="btn btn-success btn-lg">Login</a>
                            <button class="btn btn-default btn-lg" >Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>